body{
	background-image: url("imagens/flo.jpg"); 
}

.current_backgroud {
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.active{
	background-color: white;
}
.circulo{
	display: block;
	width: 50px;
	border-radius: 50%;
	background-color: lightblue;
	border-color: black;
	text-align: center;
	
}
div .circulo span{
	line-height: 50px;
}


#unoan{
	background-image: url("imagens/juego.jpg"); 
}
#dosa{
	background-image: url("imagens/turtle.jpg"); 
}
#tresa{
	background-image: url("imagens/planta.jpg"); 
}
#cuara{
	background-image: url("imagens/palet.jpg");
}
#quina{
	background-image: url("imagens/sandias.jpg");
}
#sexta{
	background-image: url("imagens/madera.jpg"); 
}
#sepa{
	background-image: url("imagens/corazon.jpg");
}
#octa{
	background-image: url("imagens/marg.jpg");
}
#nova{
	background-image: url("imagens/pintura.jpg");
}
#deca{
	background-image: url("imagens/ancla.jpg");
	color: Ivory;
}
nav img{
	width: 100px;
	height: 100px;

}


nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}

section{
	margin-right: 20px;
	width: 220px;
	min-width: 400px;
	background-color: #ddd;
	
	margin: 37px;
	text-align: center;
}

.clearfix{
	clear: both;
}
/*no game no life*/
.abc{
	text-align: center;
	background-color: #DDA0DD;
}
.def{
	text-align: center;
	background-color: WhiteSmoke;
	border-style: solid;
	border-color: #DB7093;
	border-width: 4px;
}
/*clannad*/
.ghi{
	text-align: center;
	background-color: #66CDAA;
}
.jkm{
	background-color: #FFE4B5;
}
/*Akagami*/
.uno{
	background-color: Crimson;
	text-align: center;
	background-size: 100px;
	margin-top: 111px;

}
.nlo{
	background-color: DarkCyan;
}
.dos{
	background-color:Crimson;
	text-align: center;
}
.bob{
	margin-top: 100px;
}
.separador{
	margin: 10px 0;
}
/*hibike*/
.padding-mas{
	padding: 10px 20px;
}
.pqr{
	text-align: center;
	background-color: lightyellow;
	border-color: yellow;
	border-style: solid;
}
.stu{
	background-color: LightSeaGreen;
	border-color: Crimson;
	border-style: outset;
}
/*pagani*/
.moca{
	width: 250px;
	height: 250px;
}

nav ol li a:hover{
	color: yellow;
}
nav ol li a:active{
	color: blue;
}
.holo{
	background-color: orange;
	text-align: center;
}
.fui{
	background-color: orange;
	background-size: 100px;
}
.mia{
	background-color: lightpink;
	border-style: dashed;

}
.foto{
	width: 350px;
	height: 400px;
	margin-top: 50px;
}
.mev{
	background-color: orange;
}

section article: last-child{
	margin-right: 0px;
}

section article a{
	display: block;
	line-height: 40px;
	background-color: black;
	color: white;
	height: 40px;
	width: 100%;
	text-decoration: none;
	
}
section ol li{
	color: purple;
	
	margin-right: 206px;
	margin-left: 100px;
	
}

section ol{
	margin-right: 89px;
	margin-left: 100px;
	margin-right: 286px;
	background-color: #ddd;
	
	margin: 45px;
	
}
.au{
	font-size: 50px;
}


/*fairy oak*/
.vxy{
	color: #008080;
	background-color: #FFF0F5;
}
.zzz{
	background-color: #F0E68C;
}
/*sophie*/
.zyx{
	margin-right: 20px;
	width: 220px;
	min-width: 400px;
	background-color: #FFA500;
	
	margin: 37px;
	text-align: center;
}
.mio{
	border-top-color: orange;
}
.xvw{
	background-color: lightpink;
}
.simon{
	background-color: #F0E68C;
}

/*pagalib*/
.muy{
	
	width: 450px;
	height: 600px;
}
.hay{
	color: pink;
	background-color: purple;
	
}
/*memoria*/
.lib{
	background-color: #FFF8DC;
}
.lob{
	background-color: #B0C4DE;
}
/*percy*/
.yup{
	background-color: #66CDAA;
	padding: 10px;
	color: black;
}
/*portal*/
.mao{
	background-color: #FFEFD5;
}
.pooh{
	background-color: #DB7093;
}