body{
	margin: 0 auto;
	background-image: url("imagens/palet.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.padding-mas{
	padding: 10px 20px;
}

nav img{
    width: 150px;
    height: 150px;
}

nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}

h1{
	text-align: center;
	background-color: lightyellow;
	border-color: yellow;
	border-style: solid;
}
h2{
	background-color: LightSeaGreen;
	border-color: Crimson;
	border-style: outset;
}

 section{
    margin-right: 20px;
	width: 220px;
	min-width: 400px;
	background-color: #ddd;
	float: left;
	margin: 37px;
	text-align: center;
}