

.lau{
    width: 100px;
    height: 100px;
}


nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}

h2{
	text-align: center;
	background-color: WhiteSmoke;
	border-style: solid;
	border-color: #DB7093;
	border-width: 4px;
}

 section{
    margin-right: 20px;
	width: 220px;
	min-width: 400px;
	background-color: #ddd;
	float: left;
	margin: 37px;
	text-align: center;
}