body{
	background-image: url("imagens/planta.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.uno{
	background-color: Crimson;
	text-align: center;
	background-size: 100px;
	margin-top: 111px;

}
.dos{
	background-color:Crimson;
	text-align: center;
}
.bob{
	margin-top: 100px;
}
.separador{
	margin: 10px 0;
}

nav img{
    width: 200px;
    height: 200px;

}


nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}

h2{
	background-color: DarkCyan;
}


 section{
	background-color: #ddd;
	text-align: center;
}
