body{
	background-image: url("imagens/corazon.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
nav img{
    width: 200px;
    height: 150px;
}

nav ul{
	float: right;
	list-style: none;
	line-height: 87px;
}
nav ul li{
     float: left;

}
nav ol li{
	float: left;
	background-color: lightyellow;
}

nav ol {
	list-style: none;
	
}

nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}
section{
    margin-right: 20px;
	width: 220px;
	min-width: 400px;
	background-color: #FFA500;
	float: left;
	margin: 37px;
	text-align: center;
}
.mio{
	border-top-color: orange;
}