body{
	margin: 0 auto;
	width: 960px;
	background-image: url("imagens/sandias.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
.moca{
    width: 250px;
    height: 250px;
}

nav ul{
	float: right;
	list-style: none;
	line-height: 87px;
}
nav ul li{
     float: left;

}
nav ol li{
	float: left;
	background-color: lightyellow;
}

nav ol {
	list-style: none;
	
}

nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}
nav ol li a{
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
}

.capu{
    width: 287px;
    height: 321px;
    margin-top: 160px;

}

nav ol{
	float: right;
	list-style: none;
	line-height: 87px;

}
nav ol li{
     float: left;

}

nav ol li a:hover{
	color: yellow;
}
nav ol li a:active{
	color: blue;
}
.holo{
	background-color: orange;
	background-size: 100px;
	margin-top: 111px;
	text-align: center;
}
.fui{
	background-color: orange;
	background-size: 100px;
}
.mia{
	background-color: lightpink;
	border-style: dashed;
	margin-left: 292px;
    
}
section img{
  float: left;
  margin-top: 48px;
  width: 280px;
  height: 335px;
}

section article{
	margin-right: 20px;
	width: 220px;
	min-width: 400px;
	background-color: #ddd;
	float: left;
	margin: 37px;
	text-align: center;
}
.mev{
	background-color: orange;
}
.miu{
	margin-top: 10px;
}
.chui{
     margin-top: 10px;
     margin-right: 20px;
}

section article span{
 filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

section article: last-child{
	margin-right: 0px;
}
h1, h3 {
	text-align: center;

}
section article a{
	display: block;
	line-height: 40px;
	background-color: black;
	color: white;
	height: 40px;
	width: 100%;
	text-decoration: none;
	
}
section ol li{
	color: purple;
	float: left;
	margin-right: 206px;
	margin-left: 100px;
	
}

section ol{
	margin-right: 89px;
	margin-left: 100px;
	margin-right: 286px;
	background-color: #ddd;
	float: left;
	background-color: lightblue;
	margin: 45px;
	
}
