body{
	background-image: url("imagens/marg.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

nav img{
    width: 200px;
    height: 150px;

}

nav ul{
	float: right;
	list-style: none;
	line-height: 87px;

}
nav ul li{
     float: left;

}

nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}


.muy{
	float: right;
	width: 450px;
	height: 600px;
}
.hay{
	color: pink;
	background-color: purple;
	
}

section article{
	margin-right: 150px;
	width: 290px;
	
	background-color: #ddd;
	float: left;
	margin: 20px;
	text-align: center;
}
section article a{
	display: block;
	line-height: 40px;
	background-color: black;
	color: white;
	height: 40px;
	width: 100%;
	text-decoration: none;
	
}
section article ol{
	
	width: 100%;
	float: left;
	text-align: center;

}