body{
	background-image: url("imagens/madera.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

nav img{
    width: 150px;
    height: 150px;
}



nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}
h1{
	color: #008080;
	background-color: #FFF0F5;
}
h3{
	background-color: #F0E68C;
}