body{
	background-image: url("imagens/ancla.jpg"); 
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: Ivory;
}
nav img{
    width: 200px;
    height: 150px;

}

nav ul{
	float: right;
	list-style: none;
	line-height: 87px;

}
nav ul li{
     float: left;

}

nav ul li a{
	/*background-color: #9C3334;*/
	padding: 1px;
	color: #333;
	margin: 0 10px;
	font-size: 20px;
	text-decoration: none;
	font-family:Corbel;
	display: block;
	trasition:0.5s;
	background-color: lightpink;

}
.waw{
	background-color: #48D1CC;
}
.wow{
	background-color: #F5DEB3;
}